# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django project settings
*.env
*.sqlite3

# Static files
/staticfiles/
/static/

# Media files
/media/

# Virtual environment
venv/
.env

# IDE specific files
.vscode/
.idea/

# Dependency directories
lib/
bin/
include/

# macOS specific files
.DS_Store
